.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.game-card {
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question {
    font-size: 2em;
}

.img-finish {
    height: 150px;
    width: 150px;
}

.custom-input {
    height: 40px;
    font-size: 2em;
}

.custom-btn {
    width: 50%;
    align-self: center;
    margin: 20px 0;
    height: 35px;
    border-radius: 5px;
}

@media screen and (max-width: 480px) {
    .game-card {
        width: 80%;
    }
}